.chronologicalView
{
    height: 550px;
    width: 1000px;
}

#tracks
{
    height: 94%;
    width: 20%;
    overflow-y: hidden;
    overflow-x: hidden;
    float: left;
    border-right: 1px solid #575757;
}

.singleTrack
{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid gray;
}

.singleTrack:hover
{
    background-color: #b6ddf3;
}

.optionsTrack
{
    float: right;
    width: 45px;
}

.valuesTrack
{
    float: left;
    width: 140px;
    margin-top: 5px;
}

.time
{
    float: left;
    position: relative;
    font-weight: bold;
}

.timeTrack
{
    width: 100%;
    padding-left: 20%;
    height: 30px;
    border-bottom: 1px solid gray;
}

.timeLeft
{
    float: left;
}

.timeRight
{
    float: right;
}

.videoViewEditor
{
    height: 94%;
    width: 80%;
    float: left;
    overflow-y: auto;
    overflow-x: auto;
}

.textViewEditor
{
    text-align: center;
}

.sizeViewEditorTrack
{
    width: 1000px;
}

.posMinVolume
{
    float: left;
}

.posMaxVolume
{
    float: right;
}

.zoom
{
    margin-left: 20px;
    display: inline-block;
}

.player
{
    width: 200px;
}

.pre
{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#progressPlayerOuter
{
    margin-left: 20px;
    margin-right: 20px;
}

#contentPlayer
{
    width: 100px;
    height: 100px;
    background-color: #000000;
}

.bold
{
    font-weight: bold;
}
.selectedFile
{
   border:  1px solid red;
}
#divListFile
{
    height: 180px;
    overflow-y: auto;
}

.trackElement
{
    /*width: 2000px;*/
    border: 1px solid blue;
    height: 80%;
    background-color: rosybrown;
    margin-left: 0px;
    resize: none;
    overflow: hidden;
}

.listFilesLib
{
    height: 410px;
    overflow-x: auto;
    overflow-y: auto;
}

.filesList
{
    height: 550px;
    margin-left: 10px;
}

.center
{
    text-align: center;
}

.marginauto
{
    margin: auto;
}

.strong
{
    font-weight: bold;
}

.titleSize
{
    font-size: 20px;
}

.previewFileContent
{
    width:auto;
    height:100px;
    border: 1px solid #000000;
}

.propertiesDivText
{
    height: 350px;
}
